<div class="card-center" style="width:150px; height:150px;">
  <% if @user.avatar.url %>
   <%= image_tag(@user.avatar.url, class:"avatar-lg") %>
  <% else %>
   <img class="avatar-lg">
  <% end %>
</div>
<div class="card card-center" style="max-width:500px;">
  <div class="card-body">
    <%= form_with(model: @user, local: true) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation" class="alert alert-warning">
          <% @user.errors.full_messages.each do |message| %>
            <p><%= message %></p>
          <% end %>
        </div>
      <% end %>
      <div class="mb-3">
        <%= f.label :name, class:"form-label" %>
        <%= f.text_field :name, class:"form-control form-control-sm" %>
      </div>
      <div class="mb-3">
        <%= f.label :email, class:"form-label"  %>
        <%= f.text_field :email, class:"form-control form-control-sm" %>
      </div>
      <div class="mb-3">
        <%= f.label :"プロフィール画像", class:"form-label"%>
        <div class="custom-file">
          <%= f.file_field :avatar, class:"custom-file-input" %>
          <label class="custom-file-label" data-browse="参照">ファイルを選択...</label>
        </div>
      </div>
      <div class="mb-3">
        <%= f.label :greeting, class:"form-label"  %>
        <%= f.text_field :greeting, class:"form-control form-control-sm" %>
      </div>
      <div class="mb-3">
        <%= f.label :password, class:"form-label" %>
        <%= f.password_field :password, class:"form-control form-control-sm" %>
      </div>
      <div class="text-center">
        <%= f.submit "変更", class:"btn btn-outline-dark btn-sm"  %>
      </div>
    <% end %>
  </div>
</div>

<!-- #前
<div class="form-group mb-3">
  <label class="control-rabel" for="picture_image">Image</label>
  <input type="filestyle" data-buttontext="ファイル選択" type="file" name="picture[image]",id="picture_image">
</div>

#後 -->
