<div class="main">
  <div class="card card-center" style="max-width:700px;">
    <div class="container-md card-body">
      <div class="row">
        <div class="col-5">
          <div class="card-center" style="width:150px; height:150px;">
            <% if @user.avatar.url %>
             <%= image_tag(@user.avatar.url, class:"avatar-lg") %>
            <% else %>
             <img class="avatar-lg">
            <% end %>
          </div>
        </div>
        <div class="col-7 card-body">
          <div class="">
            <h5><%= @user.name %></h5>
          </div>
          <div class="">
            <p><%= @user.greeting %></p>
          </div>
          <div class="mb-3">
            <%= @user.email %>
          </div>
          <div class="">
            <% if @current_user.id == @user.id %>
              <%= link_to "プロフィールを編集する", edit_user_path(@current_user.id), class:"btn btn-outline-dark btn-sm"  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h6>Yous Pictures</h6>
  <div class="card-container">
    <% @pictures.each do |picture| %>
      <%= link_to picture_path(picture.id), class:"card-item" do %>
        <%= image_tag(picture.image.url,class:"square-image") if picture.image && picture.image.url %>
        <div class="card-img-overlay disappear">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffffff" class="bi bi-heart-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
          </svg>
        <%= picture.favorites.count %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
