<div class="card card-center" style="max-width:500px;">
  <div class="card-body">
    <%= form_with(model: @picture, local: true) do |f| %>
    <%= f.hidden_field :content %>
    <%= f.hidden_field :image_cache %>
    <div class="mb-3">
      <%= f.label :content ,class:"form-label"%>
      <div>
        <%= @picture.content %>
      </div>
    </div>
    <div class="mb-3">
      <%= f.label :image %>
      <div>
        <%= image_tag(@picture.image.url ,class:"confirm-pic") %>
      </div>
    </div>
    <div class="text-center">
      <%= f.submit "送信" , class:"btn btn-outline-dark btn-sm" %>
      <%= f.submit "戻る", name:"back" , class:"btn btn-outline-dark btn-sm" %>
    </div>
    <% end %>
  </div>
</div>
