<!DOCTYPE html>
<html>
  <head>
    <title>ShareSnaps</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if loged_in? %>
      <%= link_to "HOME", pictures_path %>
      <%= link_to "LOGOUT", session_path(@current_user.id) %>
      <% else %>
      <%= link_to "SignUp", new_user_path %>
      <%= link_to "Login", new_session_path %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
