<!DOCTYPE html>
<html>
  <head>
    <title>ShareSnaps</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="sticky-top">
      <div class="container-fluid card-body">
        <div class="row justify-content-between">
          <div class="col-6">
            <h2 class="font-weight-bold">SHARE SNAPS</h2>
          </div>
          <div class="col-6 d-flex justify-content-end">
          <% if loged_in? %>
            <%= link_to image_tag('home-outline.svg',class:"svg-icon", style:"width:25px;"), users_path ,class:"p-2" %>
            <%= link_to image_tag('compass-outline.svg',class:"svg-icon"), pictures_path ,class:"p-2"%>
            <%= link_to image_tag('heart-outline.svg',class:"svg-icon"),favorites_path,class:"p-2" %>
            <%= link_to image_tag('add-circle-outline.svg',class:"svg-icon"), new_picture_path ,class:"p-2" %>
            <%= link_to user_path(@current_user.id) ,class:"p-2" do %>
              <% if @current_user.avatar.url %>
                <%= image_tag @current_user.avatar.url,class:"avatar-sm" %>
              <% else %>
                <%= image_tag 'f_f_event_75_s128_f_event_75_1bg.png',class:"avatar-sm" %>
              <% end %>
            <% end %>
            <%= link_to "LOGOUT", session_path(@current_user.id), {method: :delete, class:"ml-2 p-2 btn btn-outline-dark btn-sm" } %>
          <% else %>
            <%= link_to "SignUp", new_user_path  ,class:"p-2 btn btn-outline-dark btn-sm" %>
            <%= link_to "Login", new_session_path ,class:"p-2 ml-2 btn btn-outline-dark btn-sm" %>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <% if notice %>
      <div class="alert alert-info"><%= notice %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
